{% extends '::base.html.twig' %}

{% block body %}
    <div>
        <form method="post" action="{{ action }}" novalidate="novalidate">
            <div>
                <ul>
                    {% for error in form.vars.errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>{{ form_errors(form.title) }}{{ form_label(form.title) }}: {{ form_widget(form.title) }}</div>
            <div>{{ form_errors(form.description) }}{{ form_label(form.description) }}: {{ form_widget(form.description) }}</div>
            {{ form_rest(form) }}
            <div><input type="submit" value="Ok"></div>
        </form>
    </div>
{% endblock %}