{% extends '::base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <table>
        {% for report in reports %}
            <tr>
                <td> Title: {{ report.title }}</td>
                <td> |Description: {{ report.description }}</td>
                <td>|Autor: {{ report.creador }}</td>
                <td>||{{ report.createdAt|date("d/m/Y H:i:s") }}|</td>
                <td>|{{ report.updatedAt|date("d/m/Y H:i:s") }}||</td>
                
            </tr>

        {% endfor %}
    </table>
    <div style="margin-top: 10px">
        <a href="{{ path('app_index_insertreport') }}">New Report</a>
    </div>
{% endblock %}