{% extends '::base.html.twig' %}

{% block body %}
    <!-- http://stackoverflow.com/questions/18848870/how-to-display-all-form-error-at-one-place -->
    <div>
        <form method="post" action="{{ action }}" novalidate="novalidate">
            <div>
                <!-- form is based on Report Entity -->
                {{ dump(form.vars.value) }}
                <!-- http://stackoverflow.com/questions/12497133/directly-access-a-form-fields-value-when-overriding-widget-in-a-twig-template -->
                <ul>
                    {% for error in form.vars.errors %}
                        <li>{{ error.message }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div>{{ form_errors(form.title) }}{{ form_label(form.title) }}: {{ form_widget(form.title) }}</div>
            <div>{{ form_label(form.description) }}: {{ form_widget(form.description, {'attr': {'class': 'anyClass2'}}) }}</div>
            <div>{{ form_label(form.autor) }}: {{ form_widget(form.autor) }}</div>
            {{ form_rest(form) }} <!-- prints hidden fields and others -->
            <div><input type="submit" value="Ok"></div>
        </form>
    </div>
{% endblock %}