
{% extends '::base.html.twig' %}

{% block headTitle %}{{ report.nombre }}{% endblock %}

{% block body %}
    <div>
        ID : {{ report.id }}
        <br/>
        Title: {{ report.title }}
        <br/>
        Description: {{ report.description }}
        <br/>
        Creador:  <a href="{{ path('app_usuario_show', {'slug': report.creador.id }) }}">{{ report.creador }}</a>
        <br/>
        Creado el dia: {{ report.createdAt | date("d/m/Y H:i:s") }}
        <br/>
        Actualizado el dia: {{ report.updatedAt | date("d/m/Y H:i:s") }}
    </div>
    <div class="boton-detalles">
        <a href="{{ path('app_index_index') }}"><button class="btn btn-primary" > ↪️️ Volver</button></a>
        <a href="{{ path('app_index_remove',{'id': report.id}) }}"><button class="btn btn-danger" > ✖️ Eliminar</button></a>
        <a href="{{ path('app_index_update',{'id': report.id}) }}"><button class="btn btn-default" > ✏️️ Editar</button></a>
    </div>


{% endblock %}